<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/images/symbiote.png">
</div>


<!--<div class='container'>-->
  <!--<div class='content'>-->
    <!--<input type="text" (change)="press($event)" [value]="title">-->
    <app-jumpbotron></app-jumpbotron>
    <app-feature></app-feature>
    <app-contact></app-contact>
  <!--</div>-->
<!--</div>-->





